*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/project/
/hello.iws
/hello.ipr
/atlassian-ide-plugin.xml
.idea/atlassian-ide-plugin.xml
.idea/modules/root-build.iml
.idea/modules/root.iml
